<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Welcome to the world's largest professional organization dedicated to advancing technological innovation and excellence for the benefit of humanity.">
    <meta name="author" content="IEEE PUA SB">
    <meta property="og:image" content="http://www3.0zz0.com/2017/12/14/21/746492742.png" />
    <meta property="og:title" content="WELCOME TO IEEE PUA SB" />
    <meta property="og:description" content="Welcome to the world's largest professional organization dedicated to advancing technological innovation and excellence for the benefit of humanity." />

    <title><?php echo ucfirst($title);?> | IEEE PUA SB</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.offcanvas.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/featherlight.min.css">
    <link rel="stylesheet" href="css/hover.min.css">
    <link rel="stylesheet" href="css/core.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!--New Styles-->
    <link rel="stylesheet" href="css/customstyle.css">
    <?php if (isset($mega) && $mega) {?>
    <link rel="stylesheet" href="css/megaForm.css">
    <?php }?>

</head>

<body>
<header id="masthead" class="site-header container">
    <div class="row">
        <div class="site-branding col-sm-3 col-md-3">
            <h1 class="site-title">
                <a href="index.html" title="IEEE|PUA SB" rel="home">
                    <img src="images/ieee-logo.png" alt=IEEEPUAsb_logo title="IEEE|PUA SB">
                </a>
            </h1>
        </div>

        <div class="col-sm-9 col-md-9">
            <nav id="site-navigation" class="navbar">
                <div class="navbar-header">
                    <div class="mobile-menu">
                        <ul class="nav navbar-nav">
                            <?php if (isset($_SESSION['admin']) && isset($_SESSION['name'])) {?>
                            <li><a href="logout.php" title="Sign Out"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></li>
                            <?php } else { ?>
                            <li class="<?php if ($title === 'login') {echo 'active';} ?>"><a href="sign-in.php" title="Sign In"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a></li>
                            <?php } ?>
                            <!--<li>-->
                                <!--<a href="register.html" style="font-size: 18px" title="Register"><i class="fa fa-user-plus" aria-hidden="true"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right" id="js-bootstrap-offcanvas">
                    <button type="button" class="offcanvas-toggle closecanvas" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </button>
                    <ul class="nav navbar-nav">
                        <li class="<?php if ($title === 'home') {echo 'active';} ?>"><a href="index.php">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="<?php if (preg_match('/(event)/i',$title)) {echo 'active';} ?>"><a href="events.php">Events</a></li>
                                <li class="<?php if ($title === 'news') {echo 'active';} ?>"><a href="news.php">News</a></li>
                                <li class="<?php if ($title === 'schedule') {echo 'active';} ?>"><a href="schedule.html">Schedule</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Team<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="<?php if ($title === 'board') {echo 'active';} ?>"><a href="board.html">Board</a></li>
                                <li class="<?php if ($title === 'volunteers') {echo 'active';} ?>"><a href="volunteers.php">Volunteers</a></li>

                            </ul>
                        </li>
                        <li class="<?php if ($title === 'gallery') {echo 'active';} ?>"><a href="gallery.php">Gallery</a></li>
                        <li class="<?php if ($title === 'courses') {echo 'active';} ?>"><a href="courses.html">Courses</a></li>
                        <!--<li class="<?php if ($title === 'benefits') {echo 'active';} ?>"><a href="benefits.html">benefits</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="<?php if ($title === 'contact') {echo 'active';} ?>"><a href="contact.html">Contact</a></li>
                                <li class="<?php if ($title === 'committee') {echo 'active';} ?>"><a href="committee.html">Committees</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <?php if (isset($_SESSION['admin']) && isset($_SESSION['name'])) {?>
                        <li><a href="logout.php" title="Sign Out"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></li>
                        <?php } else { ?>
                        <li class="<?php if ($title === 'login') {echo 'active';} ?>"><a href="sign-in.php" title="Sign In"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a></li>
                        <?php } ?>
                        <!--<li><a href="register.html" style="font-size: 18px" title="Register"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>-->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<?php
$titles = ['home','events','events-single','news','news-single','contact','page-not-found','schedule','login','sign-up','404', 'volunteers', 'contact-login contact','gallery'];
$title=strtolower($title);
if (!in_array($title, $titles)) {
    if (!isset($headerClass)){
        $headerClass = 'default-hero';
    }
} else {
    if ($title ==='home') {
        $headerClass = 'hero-3';
    } elseif ($title === 'login') {
        $headerClass = 'contact-hero';
    } elseif ($title === 'volunteers') {
        $headerClass = 'news-hero';
    } else {
        $headerClass = $title . '-hero';
    }
}
?>
<section class="<?php echo $headerClass?>" id="header-section">
    <script>
        document.body.onload = function () {
            if ($('body').height() < $(window).height()) {
                var nxt = $('#header-section').next().eq(0);
                nxt.height(nxt.height() + $(window).height() - $('body').height());
            }
        };
    </script>
    <div class="container">
        <div class="row">
            <div class="hero-content">
                <div class="hero-caption <?php echo ($title === 'home') ? 'col-sm-7 col-md-7' : null;?>">
                    <?php echo $caption; ?>
                </div>
                <?php if ($title === 'home') {?>
                <div class="hero-img col-sm-5 col-md-5">
                    <img src="images/ieeepuasb-back-tshirt.png" alt="image">
                </div>
                <?php } ?>
            </div>
        </div>
</section>